@import './utils/variables';
@import './utils/mixins';
@import './utils/grid.scss';

@import './reset.scss';
@import './normalize.scss';

.container {
  box-sizing: content-box;
  margin: auto;
  max-width: 1200px;
  min-width: 288px;
  padding: 25px 16px 64px 16px;

  @include onTablet {
    padding: 25px 32px 64px 32px;
    min-width: 768px;
  }

  @include onDesktop {
    min-width: 1136px;
    padding: 25px 16px 80px 16px;
  }
}

