@import '../../../public/global-styles/utils/mixins';

.pagination {
  width: fit-content;
  display: flex;
  margin: 30px auto auto;

  @include onTablet {
    margin: 40px auto auto;
  }

  @include onDesktop {
    margin: 45px auto auto;
  }

  &_item {
    &:not(:last-child) {
      margin-right: 8px;
    }
    list-style: none;
  }

  &_link {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
}

