@import '../../../public/global-styles/index.scss';

.order {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 28px;
  border: 1px solid #e2e6e9;
  border-radius: 4px;
  margin: 0 16px;
  height: 200px;
  font-size: 14px;

  @include onTablet {
    flex-direction: row;
    height: 75px;
    align-items: center;
  }
}

.order__id {
  font-size: 14px;
  margin-bottom: 8px;
}

.order__amout {
  font-size: 14px;
  margin-bottom: 8px;
}

.order__price {
  font-size: 14px;
}


.baba {
  position: absolute;
  left: 8px;
  top: 14px;
  background-color: rgb(0, 160, 70);
  height: 80%;
  width: 8px;
  border-radius: 50px;

  @include onTablet {
    top: 6px;
  }
}
