@import '../../../public/global-styles/index.scss';

.title {
  margin-bottom: 32px;

  @include onDesktop {
    font-size: 48px;
  }
}

.list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.logout-btn {
  display: flex;
  margin-bottom: 10px;
}
