@import '../../../public/global-styles/index.scss';
@import '../../../public/global-styles/utils/grid.scss';


.tech {
  margin: 0 16px;

  &__title{
    font-family: 'Mont-SemiBold';
    font-size: 20px;
    color: $primary;
    position: relative;
    margin-bottom: 46px;

    &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        right: 0;

        height: 1px;
        background-color: $borders;
    }
  }

  &__specs {
    font-family: 'Mont-Regular';
    display: flex;
    flex-wrap: wrap;

    &--description {
      margin-bottom: 8px;
      font-family: 'Mont-Regular';
      font-size: 14px;
      width: 50%;
      line-height: 21px;
      color: $secondary;
      font-weight: 500;
    }

    &--description:nth-child(even) {
      text-align: right;
      color: $primary;
    }
  }
}
