@import '../../../../public/global-styles/index.scss';
@import '../../../../public/global-styles/utils/mixins';
@import '../../../../public/global-styles/utils/grid.scss';

.carousel {
  overflow: hidden;
  transition-duration: 500ms;
  width: 100vw;

  @include onTablet {
    width: 100%;
  }

  &__list {
    display: flex;
    padding: 0;
    transition-property: "translate";
  };

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__phone {
    width: 272px;
  }
}

.content {
  margin: 0;
  padding: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
    margin-top: 66px;

    @include onTablet {
      margin-top: 74px;
    }

    @include onDesktop {
      margin-top: 90px;
    }
  }

  &__title {
    font-size: 22px;
    font-family: 'Mont-Bold', sans-serif;
    color: $primary;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
}
