@import '../../../../public/global-styles/index.scss';
@import '../../../../public/global-styles/utils/grid.scss';

.carousel {
  &__list {
    display: flex;
  }

  &__list {
    display: flex;
  };

  &__item {
    display: flex;
    margin-right: 20px;
  }
}

.container {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
  }

  &__title {
    font-size: 22px;
    font-family: 'Mont-Bold';
    color: $primary;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
}
