
.card {
  display: flex;
  font-family: 'Mont-Regular', sans-serif;
  flex-direction: column;
  width: 287px;
  background-color: #fff;
  border-radius: 5px;
  padding: 32px;
  align-items: center;
  border: 1px solid #E2E6E9;;

  &__image {
    display: block;
    width: auto;
    height: 130px;
    margin-bottom: 24px;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 8px;

  }

  &__price {
    font-family: 'Mont-Bold', sans-serif;
    font-weight: 800;
    align-self: self-start;
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 31px;
    color: #313237;
  }

  &__devider {
    border: 1px solid #E2E6E9;
    width: 100%;
    margin-bottom: 16px;
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 8px;

    &_description {
      width: 34%;
      margin-bottom: 8px;
      font-size: 12px;
      font-family: 'Mont-Semibold', sans-serif;
      font-weight: 700;
      color: #89939A;
    }

    &_description:nth-child(even) {
      text-align: right;
      color: #313237;
    }
  }

  &__buttons {
    display: flex;

    &_favourite {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      border: 1px solid #B4BDC3;
      background-image: url('./img/Heart.svg');
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        border-color: #313237;
      }

      &--selected {
        background-image: url('./img/Heart-red.svg');
      }
    }
  }
}





