@import '../../../public/global-styles/index.scss';

.nav {
  display: none;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: block;
  }

  &_link {
    font-family: 'Mont-Bold', sans-serif;
    color: $secondary;
    font-size: 12px;
    margin-right: 32px;
    transition: 0.3s;

    @include onTablet {
      margin-right: 32px;
    }

    @include onDesktop {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $primary;
    }
    
    &__active {
      position: relative;
      color: $primary;
      
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -24px;
        height: 3px;
        background-color: $primary;
        
        @include onTablet {
          bottom: -16px;
        }
        
        @include onDesktop {
          bottom: -24px;
        }
      }
    }
  }
}
