@import '../../../public/global-styles/index.scss';

.phones__title {
  margin-bottom: 8px;
}

.models_count {
  font-family: 'Mont-Regular';
  color: $secondary;
  margin-bottom: 32px;
}

.sorting_container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: $secondary;
    font-size: 12px;
  }
}
