@import '../../../public/global-styles/utils/grid.scss';
@import '../../../public/global-styles/utils/variables';
@import '../../../public/global-styles/utils/mixins';

.link {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  max-width: 1136px;
  margin: 41px 16px 0 16px;
  position: relative;

  @include onTablet {
    margin: 41px 32px 0 32px;
  }

  @include onDesktop {
    margin: 41px auto;
  }
}

.title {
  margin-bottom: 32px;

  @include onDesktop {
    font-size: 48px;
  }
}

.checkout-block {
  display: flex;
  height: 190px;
  border: 1px solid $borders;
  flex-direction: column;
  justify-content: center;

  margin-top: 32px;

  @include onTablet {
    margin-top: 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cost {
    font-family: 'Mont-Bold';
    font-size: 32px;
    color: $primary;
    margin-bottom: 12px;
  }

  &__items-count {
    font-size: 14px;
    color: $secondary;
    margin-bottom: 16px;
  }

  &__button {
    position: relative;
    margin: 24px 24px 0 24px;
    display: block;
    background-color: $primary;
    height: 48px;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $borders;
    }

    &:hover:not(:active) {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      color: #27AE60;
      background-color: white;
      box-shadow: 0;
      border: 1px solid $icons;
    }
  }
}

.cart__item {
  margin-bottom: 16px;
}
