/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url("../fonts/Mont-Bold.ttf");
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url("../fonts/Mont-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Regular';
  src: url("../fonts/Mont-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 320px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  padding-left: 16px;
  -webkit-box-shadow: 0px 1px 0px #E2E6E9;
          box-shadow: 0px 1px 0px #E2E6E9;
}

@media (min-width: 639px) {
  .header {
    height: 48px;
    padding-left: 16px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 64px;
    padding-left: 24px;
  }
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header_logo {
  width: 64px;
  height: 21px;
}

@media (min-width: 639px) {
  .header_logo {
    width: 64px;
    height: 21px;
  }
}

@media (min-width: 1200px) {
  .header_logo {
    width: 80px;
    height: 26.5px;
  }
}

.header_logo_link {
  margin-right: 32px;
}

@media (min-width: 639px) {
  .header_logo_link {
    margin-right: 32px;
  }
}

@media (min-width: 1200px) {
  .header_logo_link {
    margin-right: 48px;
  }
}

.header_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: -1px 0px 0px #E2E6E9;
          box-shadow: -1px 0px 0px #E2E6E9;
}

@media (min-width: 639px) {
  .header_cart {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1200px) {
  .header_cart {
    width: 64px;
    height: 64px;
  }
}
/*# sourceMappingURL=Header.module.css.map */