@import '../../../public/global-styles/index.scss';

.burger-button {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -1px 0px 0px #E2E6E9;
  width: $button-size;
  height: $button-size;
  background-image: url('../../img/burger-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.burger-close {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -1px 0px 0px #E2E6E9;
  width: $button-size;
  height: $button-size;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../img/burger-close.svg');
}

.burger-menu {
  display: none;
  z-index: 1000;

  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #E2E6E9;

    &__logo {
      margin-left: 20px;
    }
  }

  &__link {
    text-transform: uppercase;
    font-family: 'Mont-Bold', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 32px;

    &__text {
      color: $footer-text-color;
      height: 27px;

      &:hover {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    height: 100px;


  &__quantity {
    text-align: center;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #EB5757;
    border-radius: 50%;
    bottom: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

    font-weight: 700;
    font-size: 9px;
    color: white;
  }

    &__button {
      position: relative;
      height: 100px;
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: -1px -1px 0px #E2E6E9;

      &--cart {
        background-image: url('../../img/shoping-bar.svg');

      }

      &--favourites {
        background-image: url('../../img/heart.svg');
      }
    }
  }
}

.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255)
}
