@import '../../../public/global-styles/normalize.scss';
@import '../../../public/global-styles/reset.scss';
@import '../../../public/global-styles/utils/variables';

.page__container {
  display: flex;
  align-items: center;
  border: 1px solid #E2E6E9;
  align-self: center;
  height: 400px;
  width: 500px;
  margin: 1% auto;
}
