@import '../public/global-styles/index.scss';


:root {
    font-family: 'Mont-Regular';
}

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

