@import '../../../public/global-styles/utils/mixins';
@import '../../../public/global-styles/utils/grid.scss';
@import '../../../public/global-styles/index.scss';

.photos_container {
  @include square(max-content);
  // border: 1px solid black;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 23px;

  &--margin {
    margin-bottom: 56px;
    @include onDesktop {
      justify-self: flex-start;
    }
  }

  @include onTablet {
    display: flex;
    flex-direction: row;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
  }

  &__list_photos {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      flex-direction: column;
      order: 1;
      justify-content: flex-start;
      gap: 10px;
    }

    &__photo {
      @include square(50px);
      border: 1px solid #C4C4C4;
      padding: 20px;
      transition: $transition-time;

      &:hover {
        border: 1px solid $primary;
      }

      @include onTablet {
        @include square(35px);
      }

      @include onDesktop {
        @include square(80px);
      }
    }
  }

  &__main_block {
    @include square(300px);
    // border: 1px solid red;
    align-self: center;

    @include onTablet {
      flex-direction: column;
      order: 2;
    }

    @include onDesktop {
      @include square(442px);
      align-self: flex-start;
    }
  }
}
