@font-face {
  font-family: 'Mont-Regular';
  src: url('../../../public/Mont-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('../../../public/Mont-Bold.ttf');
  font-weight: 800;
  font-style: bold;
}

.cartItem {
    display: flex;
    justify-content: space-between;
}
