@import '../../../public/global-styles/utils/_mixins.scss';
@import '../../../public/global-styles/utils/variables';

.container {
  padding-top: calc(24px + $header-height);
  padding-bottom: 64px;
  margin: 0 auto;

  @include onTablet {
    max-width: 592px;
    padding-top: calc(32px + $header-height);
  }

  @include breakpoint_800 {
    max-width: 800px;
  }

  @include onDesktop {
    max-width: 1136px;
    padding-top: calc(56px + $header-height);
    padding-bottom: 80px;
  }
}


.title {
  font-family: 'Mont-Bold', sans-serif;
  color: $primary;
  margin-bottom: 24px;
  padding: 0 16px;

  @include onTablet {
    font-size: 48px;
    padding: 0;
    margin-bottom: 32px;
  }

  @include onDesktop {
    font-size: 48px;
    padding: 0;
    margin-bottom: 56px;
  }
}

.block {
  margin: 0 16px;

  @include onTablet {
    margin: 0;
  }
}
